@font-face {
	font-family: 'Anek-bold';
	src: url(fonts/AnekDevanagari-Bold.ttf)
}

@font-face {
	font-family: 'Anek';
	src: url(fonts/AnekDevanagari-Regular.ttf)
}

@font-face {
	font-family: 'Anek-exbold';
	src: url(fonts/AnekDevanagari_Expanded-ExtraBold.ttf)
}

/*
Anek+Devanagari:wdth,wght@114.4,470;125,800
wght = weight
wdth = width

Triangle Symbols Copy and Paste ◄ ▲ ▼ ►

*/


body {
	font-family: 'Anek', sans-serif;
	margin: 0 auto;
	background-color: black;
	color: white;
	/*max-width: 1000 px;*/
	
}

Header {
	margin: 150px auto;
	text-align: center;
}

.titlelogo {
	display: inline;
	font-family: 'Anek-exbold', sans-serif;
	margin: 20px auto;
/*font-size*/
}

.outline {
	color: black;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}


/*      a:link,
      a:visited {
        color: #333;
      }*/

      nav ul,
      aside ul {
        list-style: none;
        padding: 0;
      }

/*      nav a:link,
      nav a:visited {
        background-color: rgba(207, 232, 220, 0.2);
        border: 2px solid rgb(79, 185, 227);
        text-decoration: none;
        display: block;
        padding: 10px;
        color: #333;
        font-weight: bold;
      }*/

/*nav a:hover {
  background-color: rgba(207, 232, 220, 0.7);
}*/


/*nav ul li + li:before{
	color: gray;
    content: " / ";
    padding: 0 1em;
}*/

.link-animate-arrow {
  position: relative;
  transition: all 0.25s;
}
.link-animate-arrow::after {
  display: inline-block;
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  opacity: 0;
  right: 0;
  position: absolute;
  transform: scale(0.8);
  transition: opacity 0.25s;
}
.link-animate-arrow:hover {
  padding-right: 1.125rem;
}
.link-animate-arrow:hover::after {
  opacity: 1;
}
.link-animate-arrow.btn:after {
  right: 0.625rem;
}
.link-animate-arrow.btn:hover {
  padding-right: 1.875rem;
}


nav ul {
	list-style: None;
}

/*nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: .2em;
    background-color: #0038FF;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
  }

nav a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}*/

.titlelogo {
	font-size: 3em;
}

nav a {
	/*list-style: none;*/
	font-size: 2em;
}


footer {
	text-align: center;
}

@media screen and (max-width: 400px) {

.titlelogo {
	font-size: 2.5em;
}

	nav a {
		font-size: 1.3em;
	}
}

/*@media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
	only screen and (-o-min-device-pixel-ratio: 13/10),
	only screen and (min-resolution: 120dpi)
	{
		.titlelogo {
			font-size: 7rem;
			color: blue;
	}

		nav a {
			font-size: 4rem;
	}
	}*/